[Desktop Entry]
Name=Parch Store
GenericName=Software Center
Comment=Discover and install software on ParchLinux
Exec=pastor
Icon=com.parchlinux.pastor
Terminal=false
Type=Application
Categories=System;PackageManager;Settings;
StartupNotify=true
StartupWMClass=com.parchlinux.pastor
Keywords=package;store;app;install;software;parch;pacman;flatpak;
