[Desktop Entry]
Name=Parch Store
GenericName=Software Center
Comment=Discover and install software on ParchLinux
Exec=pastor
Icon=com.parchlinux.pastor
Terminal=false
Type=Application
Categories=System;PackageManager;Settings;
StartupNotify=true
StartupWMClass=com.parchlinux.pastor
Keywords=package;store;app;install;software;parch;pacman;flatpak;
Actions=Updates;CheckUpdates;

[Desktop Action Updates]
Name=Updates
Exec=pastor --updates

[Desktop Action CheckUpdates]
Name=Check for Updates
Exec=pastor --check-updates
